.leadContainerList {
  margin-top: $spacer;
  padding-top: calc($spacer * 2);
  background-color: $primary !important;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  .leadListItem > ion-label > h1 {
    color: $tertiary !important;
    font-weight: 700;
  }
  ion-item {
    border-bottom: 2px solid $tertiary !important;
  }
}
.leadContainer {
  background-color: $primary !important;
}
.fab_button {
  ion-fab-button > ion-icon {
    color: $primary;
    font-weight: 500;
  }
}
.fab_button > .ios {
  margin-bottom: 4rem;
}
.ion-color.sc-ion-searchbar-md-h .searchbar-input.sc-ion-searchbar-md,
.searchbar-left-aligned.sc-ion-searchbar-ios-h
  .searchbar-input.sc-ion-searchbar-ios {
  border-radius: 50px !important;
}
.no_leads {
  padding: 4%;
  text-align: center;
}
