.terms_page {
  .terms {
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    h1 {
      font-size: 2rem !important;
      border-bottom: 0.2rem solid gray;
    }
  }
  .terms_content {
    padding: 5.5%;
    line-height: 1.75;
    font-size: 1.1rem !important;
  }
  .highlight {
    font-size: 1.5rem !important;
    font-weight: bold;
  }
}
