.toast-danger {
  --background: #eb445a;
  --box-shadow: none;
  --border-radius: 0;
}
.toast-warning {
  --background: #ffc409;
  --box-shadow: none;
  --border-radius: 0;
}
.toast-primary {
  --background: #3b5998;
  --box-shadow: none;
  --border-radius: 0;
}
